/* Add the Google Font link to your CSS file */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


body { 
    background-image: url('heart-hearts.gif');
    background-size: 85% 100%; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; 
    font-family: Arial, sans-serif; /* Default font */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100vh;
    overflow-x: hidden;

}

h1 {
    font-size: 2em;
    margin-top: 0%;
    margin-bottom: 0%;
}

h2 {
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 1.5em;
}

h3{
    margin-bottom: 0%;
    font-size: 3em;
}


.typing {
    display: inline;
    border-right: 3px solid #000;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 9s steps(60, end), blink-caret 0.85s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}

#time-counter {
    font-family: Arial, sans-serif;
    font-size: 1.0em;
    text-align: center;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
}
.time-unit {
    display: inline-block;
    /* margin: 0 10px; */
}
.time-unit span {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

#centeredText {
    /* Styles for the centered text */
    size: 85% 100%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    margin-left: 3%;

   

    /* padding-top: 10%; Adjust padding for responsiveness */
    padding: 10%; 
    /* padding-left: 10%; */
    position: relative;
    line-height: 1.5;
 
}


